*,
::before,
::after {
  animation: initial !important;
  clip-path: initial !important;
  contain: initial !important;
  filter: initial !important;
  flex-wrap: wrap !important;
  height: initial !important;
  max-height: initial !important;
  min-height: initial !important;
  opacity: initial !important;
  overflow: initial !important;
  position: initial !important;
  transform: initial !important;
  transition: initial !important;
  visibility: initial !important;
  z-index: initial !important;
}

.showeverything-clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* width */

.showeverything-width {
  width: initial !important;
  max-width: initial !important;
  min-width: initial !important;
}

/* display */

.showeverything-display-block {
  display: block !important;
}

.showeverything-display-inline-block {
  display: inline-block !important;
}

.showeverything-display-list-item {
  display: list-item !important;
}

.showeverything-display-table {
  display: table !important;
}

.showeverything-display-table-caption {
  display: table-caption !important;
}

.showeverything-display-table-cell {
  display: table-cell !important;
}

.showeverything-display-table-column {
  display: table-column !important;
}

.showeverything-display-table-column-group {
  display: table-column-group !important;
}

.showeverything-display-table-footer-group {
  display: table-footer-group !important;
}

.showeverything-display-table-header-group {
  display: table-header-group !important;
}

.showeverything-display-table-row {
  display: table-row !important;
}

.showeverything-display-table-row-group {
  display: table-row-group !important;
}

/* margin */

.showeverything-margin-top,
.showeverything-margin-top-before::before,
.showeverything-margin-top-after::after {
  margin-top: initial !important;
}

.showeverything-margin-right,
.showeverything-margin-right-before::before,
.showeverything-margin-right-after::after {
  margin-right: initial !important;
}

.showeverything-margin-bottom,
.showeverything-margin-bottom-before::before,
.showeverything-margin-bottom-after::after {
  margin-bottom: initial !important;
}

.showeverything-margin-left,
.showeverything-margin-left-before::before,
.showeverything-margin-left-after::after {
  margin-left: initial !important;
}
